<nav class="navbar navbar-expand-lg  navbar-light bg-light justify-content-center">
  <a class="navbar-brand" href="#">
    <img src="" alt="Christus Logo">
  </a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink='/MCD' routerLinkActive='active'>Medical Claims</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/RX' routerLinkActive='active'>Pharmacy Claims</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/PRV' routerLinkActive='active'>Providers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/OHI' routerLinkActive='active'>OHI</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
